HOST=0.0.0.0
PORT=3080

# Logging
LOG_LEVEL=debug

MONGO_URI=mongodb://mongodb:27017/librechat
SEARCH=true
MEILI_HOST=http://meilisearch:7700
MEILI_MASTER_KEY=your_master_key_here

ALLOW_REGISTRATION=true

MCP_SERVERS_CONFIG_PATH=/app/mcp.json

# Security Keys (CRITICAL FOR OAUTH)
CREDS_KEY=eb87c1cf9a499835a082ff3f8a757b0cb3a0e39d5d36fcad795b2caea9083222
CREDS_IV=e09ee9961a951bb96dd603f59026783d
JWT_SECRET=74a885a8b4586155e2d1ac9546598f01f1993fbbbf840080c872b39dafe4b498

# Google Gemini API Key (Required if using the google endpoint in librechat.yaml)
GEMINI_API_KEY=your_key_here
